.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100vh;
  width: min-content;
  background-color: var(--background);
  border-right: var(--border-thickness) solid var(--primary);
  z-index: 2000;
}

.floatingNavbar {
  position: absolute;
}

.navbarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 1rem;
  height: max-content;
}

.navbarButton {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  width: 50px;
  height: 50px;
  z-index: 2020;
  background: var(--background) !important;
  border: var(--border-thickness) solid var(--primary);
}

.navbarButton > * {
  color: var(--accent) !important;
}

.navbarItem {
  padding: 0.5rem;
}

.logo {
  display: block;
  width: 128px;
  width: auto;
  position: relative;
}
