@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(10, 7, 17);
        --background: rgb(244, 241, 251);
        --primary: rgb(101, 53, 217);
        --secondary: rgb(154, 119, 241);
        --accent: rgb(125, 74, 250);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(240, 237, 248);
        --background: rgb(8, 4, 16);
        --primary: rgb(145, 91, 255);
        --secondary: rgb(106, 47, 255);
        --accent: rgb(117, 62, 255);
    }
}

:root {
    --rounding: 15px
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: var(--accent) var(--background);
}


body {
    display: flex;
    background-color: var(--background);
    color: var(--text);
    flex-direction: row;
    flex-grow: 1;
}

.childrenContainer {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

a,
Link {
    text-decoration: none;
    color: var(--primary);
}

a:hover,
Link:hover {
    text-decoration: underline;
}

.button {
    background: var(--primary);
    color: var(--background);
    border-radius: var(--rounding);
    padding: 10px;
}
