.main {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    min-height: 100vh;
    gap: 1rem;
}

.center {
    align-self: center;
    width: fit-content;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
}

.emoji {
    height: 1rem;
    width: auto;
}
