.main {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    min-height: 100vh;
    gap: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
}

.emoji {
    height: 1rem;
    width: auto;
}
