.progressbar {
  position: relative;
  width: 70vw;
  height: 2.5rem;
  border-radius: var(--rounding);
  border: var(--border-thickness) solid var(--primary);
  background-color: var(--catppuccin-mantle);
  overflow: hidden;
  margin-bottom: 1rem;
}

.barfill {
  width: 100%;
  height: 100%;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary);
}

.progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
  border: var(--border-thickness) solid var(--catppuccin-mantle);
  --inner-rounding: calc(var(--rounding) - var(--border-thickness));
  border-radius: var(--inner-rounding);
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  color: var(--accent);
}
