.carouselContainerContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.carouselContainer {
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 3vw;
}

.carouselContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, var(--background), transparent);
    z-index: 1000;
}

.carouselContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, var(--background), transparent);
    z-index: 1000;
}

.rowContainer {
    position: absolute;
}

.carouselRow {
    display: flex;
}

.badge {
    width: auto;
    height: 3vw;
    margin: 0 0.5vw;
}

.left {
    animation: scroll-left 120s linear infinite;
}

.paused {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
