.socialIconContainer {
    padding: 0.5rem;
}

.socialIcon {
    width: 2rem;
    height: auto;
    aspect-ratio: 1;

}

@media (prefers-color-scheme: dark) {
    .socialIcon {
        filter: invert(1);
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
    margin-bottom: 1rem;
}
